build/*
*.user
*.user.*
*.o
.built
.built_check
.configured_5e3b0573f493d21ceb341dfc0dc232c1
.ninja_deps
.ninja_log
.pkgdir/*
.prepared
.quilt_checked
.source_dir
CMakeCache.txt
CMakeFiles/*
build.ninja
cmake_install.cmake
du-manager/cmake_install.cmake
du-manager/tr181-du-manager
install_manifest.txt
ipkg-aarch64_cortex-a72/*
ipkg-install/*
lxcd
rules.ninja
tests/amx_notes
